.fa {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  border: 1px solid #D1D1D1;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}