.link-primary {
	color: $color-primary;
	&:hover {
		color: $color-secondary;
	}
}
.link-secondary {
	color: $color-secondary;
	&:hover {
		color: darken($color-secondary, 10%);
	}
}


a {
	@include transition(color $transition);
	text-decoration: none;
}