// basic

$font-size-base: 14px; 

$font-family-primary: opensans, Arial, sans-serif;
$font-family-secondary: aleo, Arial, sans-serif;

// grid

$grid-columns: 12;  // number of columns
$grid-width: 1200px; // width grid
$grid-gutter-width: 20px; // width inter columns

// media queries

$xs-screen: 480px; // Extra small screen / phone
$s-screen: 768px; // Small screen / tablet
$m-screen: 992px; // Medium screen / desktop
$l-screen: $grid-width; // Large screen / wide desktop
$xl-screen: $grid-width + 60px;

// transition default

$transition: .2s ease-out;

// colors

$color-default: #999;

$color-base: #6b6b6b;
$color-primary: #ff2600;
$color-secondary: #000000;
$color-lightgrey: #f6f6f4;

// $color-tertiary: #E5E5E5;
// $color-danger: #ED5565;
// $color-success: #2ECC71;